
@{
    ViewBag.Title = "Index";
}

<h2>Payment</h2>
<h3>We accept cash, check and <a href="https://coinbase.com/checkouts/2e3d2fe5db2f04a5b1122893b18b30ac" target="_blank">Bitcoin</a>.</h3>
<p>Remit payment to:</p>
<address>
    Kenneth R. Kasper PC<br />
    272 East Austin St.<br />
    New Braunfels, TX 78130<br />
</address>
<p>Click the button below to pay with Bitcoin.</p>
<a href="https://coinbase.com/checkouts/2e3d2fe5db2f04a5b1122893b18b30ac" target="_blank"><img alt="Pay With Bitcoin" src="https://coinbase.com/assets/buttons/buy_now_large.png" /></a>